body{
    background-color: burlywood;

}

button
{
    height: 30px;
    width: 100px;
    border: 2px solid black;
    border-radius: 4px;
}

h3{
    font-weight: bolder;
}

#result 
{
    margin:10px;
    color: rgb(20, 141, 233);
    font-size: 20px;
    font-weight: bolder;
}